/* RGB Gradient Animation */
.rgb-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, red, purple, blue, red);
    background-size: 200% 200%; /* Ukuran background yang lebih besar untuk transisi halus */
    animation: rgb 20s linear infinite; /* Durasi animasi lebih lama dan linear untuk transisi halus */
    z-index: -1;
}

@keyframes rgb {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}



/* Kelap-Kelip Border RGB */
.border-rgb {
    position: relative;
    border: 4px solid;
    border-image: linear-gradient(45deg, red, purple, blue, green, yellow, red);
    border-image-slice: 1;
    animation: rgb-border 1.5s infinite;
  }
  
  @keyframes rgb-border {
    0% {
      border-image-source: linear-gradient(45deg, red, purple, blue, green, yellow, red);
    }
    25% {
      border-image-source: linear-gradient(45deg, blue, green, yellow, red, purple, blue);
    }
    50% {
      border-image-source: linear-gradient(45deg, green, yellow, red, purple, blue, green);
    }
    75% {
      border-image-source: linear-gradient(45deg, yellow, red, purple, blue, green, yellow);
    }
    100% {
      border-image-source: linear-gradient(45deg, red, purple, blue, green, yellow, red);
    }
  }
  